{% extends "main.html" %}

{% block content %}

<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src="{{preview_track}}" type="audio/mpeg" />
        </audio>
        <br />
        {{title_track}} - {{artist_track}}
    </div>
</div>
</br>
<a>Results</a>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_1}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_1}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_1}} - {{artist_track_1}}
    </div>
    <div id='radars0'>
        <script> var graphs = {{ radars[0] | safe}}; Plotly.plot('radars0', graphs, {});</script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_2}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_2}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_2}} - {{artist_track_2}}
    </div>
    <div id='radars1'>
        <script> var graphs = {{ radars[1] | safe}}; Plotly.plot('radars1', graphs, {});</script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_3}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_3}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_3}} - {{artist_track_3}}
    </div>
    <div id='radars2'>
        <script> var graphs = {{ radars[2] | safe}}; Plotly.plot('radars2', graphs, {});</script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_4}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_4}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_4}} - {{artist_track_4}}
    </div>
    <div id='radars3'>
        <script> var graphs = {{ radars[3] | safe}}; Plotly.plot('radars3', graphs, {});</script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_5}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_5}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_5}} - {{artist_track_5}}
    </div>
    <div id='radars4'>
        <script> var graphs = {{ radars[4] | safe}}; Plotly.plot('radars4', graphs, {});</script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_6}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_6}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_6}} - {{artist_track_6}}
    </div>
    <div id='radars5'>
        <script> var graphs = {{ radars[5] | safe}}; Plotly.plot('radars5', graphs, {}); </script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_7}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_7}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_7}} - {{artist_track_7}}
    </div>
    <div id='radars6'>
        <script> var graphs = {{ radars[6] | safe}}; Plotly.plot('radars6', graphs, {}); </script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_8}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_8}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_8}} - {{artist_track_8}}
    </div>
    <div id='radars7'>
        <script> var graphs = {{ radars[7] | safe}}; Plotly.plot('radars7', graphs, {}); </script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_9}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_9}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_9}} - {{artist_track_9}}
    </div>
    <div id='radars8'>
        <script> var graphs = {{ radars[8] | safe}}; Plotly.plot('radars8', graphs, {}); </script>
    </div>
</div>

<div class="whatever" style="font-size:120%;color:#acacac;">
    <div><img src={{picture_track_10}} width="400" height="400"></div>
    <div style="width:400px;">
        <audio controls="controls">
            <source src="{{preview_track_10}}" type="audio/mpeg" />
        </audio>
        </br>
        {{title_track_10}} - {{artist_track_10}}
    </div>
    <div id='radars9'>
        <script> var graphs = {{ radars[9] | safe}}; Plotly.plot('radars9', graphs, {}); </script>
    </div>
</div>

{% endblock %}