{% extends "main.html" %}

{% block content %}
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src={{preview_track}} type="audio/mpeg"/>
        </audio>
        <br/>
        {{title_track}} - {{artist_track}}
    </div>
    <div>
    <img src="https://via.placeholder.com/150">
    </div>
</div>
</br>
<a>Results</a>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track_1}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src={{preview_track_1}} type="audio/mpeg"/>
        </audio>
        <br/>
        {{title_track_1}} - {{artist_track_1}}
    </div>
    <div>
    <img src="https://via.placeholder.com/150">
    </div>
</div>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track_2}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src={{preview_track_2}} type="audio/mpeg"/>
        </audio>
        <br/>
        {{title_track_2}} - {{artist_track_2}}
    </div>
    <div>
    <img src="https://via.placeholder.com/150">
    </div>
</div>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track_3}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src={{preview_track_3}} type="audio/mpeg"/>
        </audio>
        <br/>
        {{title_track_3}} - {{artist_track_3}}
    </div>
    <div>
    <img src="https://via.placeholder.com/150">
    </div>
</div>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src={{picture_track_4}} width="180" height="180"></div>
    <div style="width:300px;">
        <audio controls="controls">
            <source src={{preview_track_4}} type="audio/mpeg"/>
        </audio>
        <br/>
        {{title_track_4}} - {{artist_track_4}}
    </div>
    <div>
    <img src="https://via.placeholder.com/150">
    </div>
</div>

{% endblock %}